.container{
background-color: #E5E5E5;
}
.navigation{
background-color: #FFFFFF;
}
.logo{
position: absolute;
width: 48px;
height: 47px;
left: 148.5px;
top: 16px;
}

.first,.second,.third,.fourth,.fifth,.sixth,.seventh,.eighth,.ninth{
font-family: 'Sofia Pro';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 32px;
text-decoration: none;
color: #000000;
}
.first{
position: absolute;
width: 42px;
height: 32px;
left: 265px;
top: 27px;
}
.second{
    position: absolute;
    width: 50px;
    height: 32px;
    left: 360px;
    top: 27px;
}
.third{
    position: absolute;
width: 75px;
height: 32px;
left: 462px;
top: 27px;
}
.fourth{
    position: absolute;
width: 40px;
height: 32px;
left: 590px;
top: 27px;
}
.fifth{
    position: absolute;
width: 114px;
height: 32px;
left: 682px;
top: 27px;
}
.sixth{
    position: absolute;
width: 49px;
height: 32px;
left: 846px;
top: 27px;
}



